@import './styles/constants/variables';
@import './styles/constants/mixins';

.screen {
  background: #e5e5e5;
  padding-top: 30px;
  font-family: $default-font;
  min-height: 100vh;
}



.main {
  max-width: 960px;
  min-height: 1350px;
  //height: 80vh;
  background: #F3F7FA;

  &-content_holder{
    width: 79%;

    @media screen and (max-width: 1200px) {
        width: 89%;
      }

    .col {
      padding:0;

      @media screen and (max-width: 1400px) {
        &.l8 {
          padding-left: 20px;
        }
      }
    }

    .row {
      margin-left: auto;
      margin-right: 0;
    }

    &--show-more_btn {
      max-width: 502px;
      height: 50px;
      background: $default-blue;
      justify-content: center;
      display: flex;
      align-items: center;
      @include titleFontStyle();
      border-radius: 5px;
      color: white;

      &:hover {
        color: $default-blue;
        background: white;
        cursor: pointer;
        border: 1px solid $default-blue;
      }
    }

    &--input_block {
      max-width: 232px;
      height: 252px;
      //padding: 20px;
      @include rndBorder();
      @include titleFontStyle();

      p {
        padding:20px 0 5px 20px;
        margin: 0;
      }

      form p {
        padding: 10px 0 0 20px;
        height: 40px;
        margin: 0;

        @media screen and (max-width: 760px) {
          height: 36px;
        }
      }

      form p:hover {
        cursor: pointer;
        background: #F1FCFF;
      }
    }

    &--filter_tabs {
      max-width: 502px;
      height: 50px;
      overflow: hidden;
      @include rndBorder();

      .tabs {
        height: 50px;
      }

      .tab {
        border-left:1px solid #DFE5EC;
        height: 50px;

        div {
          @include titleFontStyle();
          line-height: 52px;
          color: $default-blue;
          overflow: unset;
          margin: 0;

          &:hover {
            color: white;
            background: #81c0f3;
            cursor: pointer;
          }

          &.active {
            color: white;
            background: $default-blue;
          }
        }
      }
    }

    &--ticket {
      max-width: 502px;
      max-height: 184px;
      padding: 20px;
      @include rndBorder();

      .ticket-info {
        height: 39px;
        margin-bottom: 10px;

        &_value {
          font-weight: 600;
          color: #4A4A4A;
          line-height: 21px; //?

          @media screen and (max-width: 760px) {
            font-size: 12px;
          }
        }

        &_title {
          color: #A0B0B9;
          line-height: 18px; //?
          @include titleFontStyle();
        }
      }
      &__top-line {
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 760px) {
          margin-bottom: 10px;
        }

        .ticket-price {
          color: $default-blue;
          font-family: $default-font;
          font-size: 24px;
          line-height: 24px;
          font-weight: 600;

          @media screen and (max-width: 760px) {
            font-size: 22px;
          }
        }
      }
    }
  }

  .logo-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    margin: 0;
  }
}

[type="checkbox"]+span:not(.lever) {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  color: #4A4A4A;

  @media screen and (max-width: 993px) {
    font-size: 12px;
  }

  @media screen and (max-width: 760px) {
    font-size: 10px;
  }
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after{
  border:1px solid $default-blue;
  background-color: #FFFFFF;

  &:hover {
    background-color: #F1FCFF;
  }
}

[type="checkbox"].filled-in:checked+span:not(.lever):before{
  border-right:2px solid $default-blue;
  border-bottom:2px solid $default-blue;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after{
  border:1px solid $default-blue;
  background-color: #FFFFFF;
}

[type="checkbox"].filled-in.tabbed:checked:focus+span:not(.lever):after{
  background-color:black;
  border-color:$default-blue;
}

